:root {
    --font-body: "Lexend", sans-serif;
    --color-white: #F4F4F4;
    --color-blue: #1D4355;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-body);
}


html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: #F4F4F4;
}

.box {
    width: 100%;
    min-height: 100dvh;

}

footer {
    background-color: #365B6D;
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    flex-direction: row;
    background-color: #6C9286;
    width: 100%;
    min-height: 8rem;
    align-items: center;
    justify-content: space-between;
}

ul {
    list-style: none;
}


a {
    text-decoration: none;
    color: var(--color-white)
}

.navbar {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-right: 5rem;
}

.logo {
    margin-left: 5rem;
}

.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 90dvh;
    gap: 10rem;
    color: var(--color-blue);
    & h1{
        font-size: 3.6rem;
    }
}
.forms {
   
    width: 45%;
    
    & input {
        
        margin-bottom: 2rem;
        width: 100%;
        height: 5rem;
        padding: 1rem;
        outline: none;
        border: none;
        border-radius: 5px;
        font-size: 1.8rem;
        background-color: #F4F4F4;
        border-bottom: 5px solid #55859c;
        &:focus {
            border-bottom: solid 5px #1D4355;
        }
    }
}

button{
    background-color: #766F9D;
    width: 25%;
    height: 5rem;
    border: none;
    border-radius: 6rem;
    color: #F4F4F4;
    font-size: 1.8rem;
}

.btn{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

@media(width <= 920px){
    .forms{
        width: 60%;
    }
    button{
        width: 50%;
    }
}