:root{
    --font-body: "Lexend", sans-serif;
    --color-white: #F4F4F4;
    --color-blue: #1D4355;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-body);
}


html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    background-color: #F4F4F4;
}

.box{
    width: 100%;
    min-height: 100dvh;

}

footer{
    background-color: #365B6D;
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header{
    display: flex;
    flex-direction: row;
    background-color: #6C9286;
    width: 100%;
    min-height: 8rem;
    align-items: center;
    justify-content: space-between;
}

ul{
    list-style: none;
}


a{
    text-decoration: none;
    color: var(--color-white)
}

.navbar{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-right: 5rem;
}

.logo{
    margin-left: 5rem;
}

.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 90dvh;
    gap: 10rem;
    color: var(--color-blue);
    & h1{
        font-size: 3.6rem;
    }
    & h3 {
        font-size: 2.4rem;
    }
    & p{
        font-size: 2.0rem;
    }
}

.integrantes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap:2rem;
    background-color: #FFFFFF;
    padding: 6rem;
    border-radius: 6rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: .5s;
    & h3{
        color: #365B6D;
    }
    & p{
        color: #766F9D;
    }
}

.card:hover{
    transform: scale(1.1);
}

.sociais{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:2rem;
}

@media(width <= 920px){
    .card{
        margin: 5%;
    }
    .titulo{
        margin-top: 15%;
    }
}